<!DOCTYPE html>
<html>
    <head>
        <title>Reproductor</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Reproductor</h1>
        </div>

        <br>
        <div align="center" class="embed-responsive embed-responsive-16by9">
            <video autoplay class="embed-responsive-item" controls>
                <!-- TODO: change search value for last qery value
                src="http://192.168.0.11:8080/api/stream?search=592c7abaacada9482777a433"
                -->
                <source ng-src="{{ stream.getParam(); }}" id="player" type="video/mp4">
            </video>
        </div>

    </body>
</html>


