<!DOCTYPE HTML5>
<html>
    <head>
        <title>Video</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Get Streaming Video</h1>
        </div>

        <!--video width="500" controls>
	        <source src="http://localhost:8080/api/stream?fn=saul" type="video/mp4"/>
	    </video-->


        <form name="searchForm" ng-submit="stream.searchFor({ vidName: searchForm.searchValue.$viewValue });">
            <label>Buscar:</label>
            <input class="form-control" type="text" name="searchValue" placeholder="search" ng-model="searchValue" required>    
            <br>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>

        <br>
        <hr>
        <div class="list-group" ng-show="stream.isLista">
            <strong>Videos disponibles</strong>
            <a target="_blank" href="/play/{{ val._id }}" class="list-group-item" ng-repeat="val in stream.lista">{{ val.name }}</a>
        </div>

    </body>
</html>